body {
  font-family: "Ubuntu", sans-serif;
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
}

.col-12 {
  flex: 0 0 auto;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
  width: 100%;
}
.container{
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  width: 100%;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-right: auto;
  margin-left: auto;
  border-color:black ;
  justify-content: center;
  background-color: #EBEDEE;

}

.row {
   /* Alignez les éléments à gauche */
  margin-bottom: 20px;
  background-color: #FFFFFF;
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(var(--bs-gutter-x)*-.5);
  margin-right: calc(var(--bs-gutter-x)*-.5);
  margin-top: calc(var(--bs-gutter-y)*-1);
}

.card:not(.payment-method-selector) {
  overflow: hidden;
  overflow-x: hidden;
  overflow-y: hidden;
}

.card {
  border-radius: 0;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  margin-left: 5px;
  padding-right: 5px;
}
.bg-white {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--bs-white-rgb),var(--bs-bg-opacity)) !important;
}

.firstcolor {
  color: black;
  background-color: red;
}
.secondcolor {
  color: red;
}
.thirdcolor {
  color:black;
}

.border-0 {
  border: 0 !important;
}

row > * {
  flex-shrink: 0;
  margin-top: var(--bs-gutter-y);
  max-width: 100%;
  padding-left: calc(var(--bs-gutter-x)*.5);
  padding-right: calc(var(--bs-gutter-x)*.5);
  width: 100%;
}
.g-0, .gy-0 {
  --bs-gutter-y: 0;
}
.g-0, .gx-0 {
  --bs-gutter-x: 0;
}

élément {
  z-index: 1;
}
.m-2 {
  margin: .5rem !important;
}


.position-absolute {
  position: absolute !important;
}
.img-container {
  max-height: 275px;
  max-width: 100%;
  min-height: 275px;
  object-fit: contain;
  overflow: hidden;

}
.bg-primary {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--bs-primary-rgb),var(--bs-bg-opacity)) !important;
}
.me-1 {
  margin-right: .25rem !important;
}

badge {
  --bs-badge-padding-x: 0.65em;
  --bs-badge-padding-y: 0.35em;
  --bs-badge-font-size: 0.75em;
  --bs-badge-font-weight: 400;
  --bs-badge-color: #fff;
  --bs-badge-border-radius: 0.375rem;
  border-radius: var(--bs-badge-border-radius);
  color: var(--bs-badge-color);
  display: inline-block;
  font-size: var(--bs-badge-font-size);
  font-weight: var(--bs-badge-font-weight);
  line-height: 1;
  padding: var(--bs-badge-padding-y) var(--bs-badge-padding-x);
  text-align: center;
  vertical-align: baseline;
  white-space: nowrap;
}
*, ::after, ::before {
  box-sizing: border-box;
}
.img-container {
  max-height: 275px;
  max-width: 100%;
  min-height: 275px;
  object-fit: contain;
  overflow: hidden;
  margin-left: 8px;
}
.mx-auto {
  margin-left: auto !important;
  margin-right: auto !important;
}
.img-fluid, .img-responsive, .img-thumbnail {
  height: auto;
  width: 100%;
  margin-left: 5px;
}
.img, svg {
  vertical-align: middle;
}

.py-0 {
  padding-bottom: 0 !important;
  padding-top: 0 !important;
}
.card-body {
  flex: 1 1 auto;
  padding: var(--bs-card-spacer-y) var(--bs-card-spacer-x);
  width: 100%;
  display: inline-block;
}
.card-title {
  margin-bottom: var(--bs-card-title-spacer-y);
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  margin-bottom: 10px;
  margin-top: 20px;
}

.mt-3 {
  margin-top: 1rem !important;
}
.card-subtitle, .card-text:last-child {
  margin-bottom: 0;
  display: inline-block;
}

p {
	margin: 16px 0;
  display: inline-block;
}


h3 {
  color: black;
  font-size: 20px;
  font-weight: bold;
}

                            /* Media Queries//////////////////////*/

@media (min-width: 768px) {
.col-md-8 {
  flex: 0 0 auto;
  width: 66.66666667%;
  }
}
@media (min-width: 768px) {
.col-md-4 {
  flex: 0 0 auto;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
  width: 33.33333333%;
  }
}

@media (min-width: 768px) {
.pt-md-0 {
  padding-top: 0 !important;
  }
}
@media (min-width: 768px) {
.px-md-3 {
  padding-left: 1rem !important;
  padding-right: 1rem !important;
  }
}

@media (min-width: 1200px) {
.h3, h3 {
  font-size: 1.75rem;
  }
}



/*.taille-img {
    width: 100%;
    height: 300px;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}*/
  
/*.taille-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}*/
  
  
/*.highlight {
    background-color: #efefef;
    padding: 10px;
    border-radius: 5px;width: 300px;

  }*/
  /*.card-body {
    display: flex;
    justify-content: flex-end ;
  }*/
  /* Ajoutez la classe pour définir la couleur rouge pour le titre spécifique */
  /*.title {
    display: flex;
    flex-direction: column; /* Organisez les éléments en colonne */
    /* flex: 1; /* Le reste de l'espace disponible 
    color: red;
    font-size: 24px;
    font-weight: bold;
    margin-top: 20px;
  }*/
  
  /*.city {
    margin-top: 10px;
    color: black;
    font-size: 24px;
    font-weight: bold;
    margin-top: 20px;
  }*/
  
/* .card-text {
    margin-top: 20px;
    color: #333;
  }*/
  
  